### Server configuration
# Host
HOST=
# Port
PORT=
# Domain
DOMAIN=

# Name
SERVER_NAME=

### Vite configuration
# Environment
VITE_ENV=
# Domain
VITE_DOMAIN=
# Host
VITE_BACKEND_HOST=

# API Key: inhabit-backend-staging (KECCAK256)
VITE_BACKEND_API_KEY=

# Cookie referral hash
VITE_COOKIE_REFERRAL=
VITE_COOKIE_RATE_EXCHANGE=

# Exchangerate api key
VITE_EXCHANGERATE_ACCESS_KEY=

# Social login: privy
VITE_PRIVY_APP_ID=

# Thirdweb Client ID
VITE_THIRDWEB_CLIENT_ID=
VITE_THIRDWEB_SECRET_KEY=

# Wallet Connect project ID
VITE_WALLET_CONNECT_PROJECT_ID=

# Wompi public and private key
VITE_WOMPI_PRIVATE_KEY=
VITE_WOMPI_PUBLIC_KEY=
VITE_WOMPI_INTEGRIDAD=

# WordPress API URL
VITE_WORDPRESS_HOST=